body{font-family: 'Poppins', sans-serif;line-height: 1.7}

h1,.h1{font-size:46px;font-weight: 500;margin-bottom: 0}
h2,.h2{color:#169db9}
h4,.h4{color:#169db9;margin-bottom: 15px}
h5,.h5{color:#169db9;font-weight: 500}
h6,.h6{color:#169db9;font-size: 18px;font-weight: 500}

.btn-warning{color: #fff;background-color: #fa7528;border-color: #fa7528;}
.btn-warning:hover{color: #fff;background-color:#ff843d;border-color:#ff843d;}
.bg-primary{background-color:#169dba !important}

.font65{font-size:65%}

.navbar.navbar-expand-lg.navbar-light.bg-light {background-color: #ffffff !important;padding: 15px}
.navbar-light .navbar-nav .nav-link {color: rgb(0, 0, 0);padding-left: 0;padding-right: 0;margin-left: 2rem;padding-top: 5px;padding-bottom: 5px;}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {color: #169db9;}
.navbar-light .navbar-nav .nav-item:last-child .nav-link{padding-left: 15px;padding-right: 15px;background: #fa7528;color:#fff;}
.navbar-light .navbar-nav .nav-item:last-child .nav-link:hover{background: #ff843d;}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {    color: #169db9;}
.navbar-light .navbar-toggler {border-radius: 0;border-color: transparent;}

.hero-slider{padding:50px 0;}
.hero-slider h1{font-size:3rem;font-weight:lighter;font-family:'Roboto', sans-serif;letter-spacing:-1px;}
.hero-slider h1 span {font-weight: 400;}
.hero-slider h3{font-family:'Roboto', sans-serif;font-size: 25px;padding-top:10px;font-weight: lighter;margin-bottom: 15px}
.hero-slider p{font-family:'Roboto', sans-serif;font-weight:300;font-size: 18px;padding-right:40px;}

.why-bonhub h4,.why-bonhub .h4{color:#ff7618}

.spl-bullet{list-style: none;padding-left:0;}
.spl-bullet li{margin-bottom: 20px;padding-left: 20px;position: relative}
.spl-bullet li:before{content:"";width: 9px;height: 9px;display: block;position: absolute;left: 0;top: 8px;}
.spl-bullet.primary-combo li:before{background-color:#ff7618}
.spl-bullet.secondry-combo li:before{background-color:#169db9}
.spl-bullet li:after{content:"";width:1px;height: 113%;display: block;position: absolute;left: 4px;top: 19px;}
.spl-bullet.primary-combo li:after{background-color:#ff7618}
.spl-bullet.secondry-combo li:after{background-color:#169db9}
.spl-bullet li:last-child:after{display: none}

.business-listing ul{list-style:none}
.business-listing .card{border:none}
.business-listing .card .card-img{border-radius:0}
.business-listing .card .card-title {margin-bottom: 0;line-height: 1.4;color: #fff}

.business-listing ul li .card-img-overlay{-webkit-transition: all 0.5s;transition:all 0.5s;}
.business-listing ul li:nth-child(1):hover .card-img-overlay{background: #285688}
.business-listing ul li:nth-child(2):hover .card-img-overlay{background: #362f72}
.business-listing ul li:nth-child(3):hover .card-img-overlay{background: #f457a9}
.business-listing ul li:nth-child(4):hover .card-img-overlay{background: #00b4cd}
.business-listing ul li:nth-child(5):hover .card-img-overlay{background: #006cab}
.business-listing ul li:nth-child(6):hover .card-img-overlay{background: #e43535}
.business-listing ul li:nth-child(7):hover .card-img-overlay{background: #745fd0}
.business-listing ul li:nth-child(8):hover .card-img-overlay{background: #f79c34}
.business-listing ul li:nth-child(9):hover .card-img-overlay{background: #333}

.join-bonhub-network{padding:50px 0;background: url("../images/bonhub-network.jpg") no-repeat center;background-size: cover;}
.join-bonhub-network h4{color: #fff}
.join-bonhub-network .media-body p{margin-bottom:0}

.bonhub-can-assist h5{color: #fff;margin-bottom: 15px;padding-top: 15px;}

.love-bonhub{padding:25px 0 50px;background-color:#f2f2f2}
.love-bonhub h2{margin-bottom:20px}

.worksDone {background: url(../images/animated-sec-bg.jpg) center no-repeat;background-size: cover;background-color: #fff;padding:40px 0;}

.how-it-works{padding:50px 0 25px}
.how-it-works h5{color:#000000;margin-bottom:15px}
.how-it-works img{margin-bottom: 15px}

.what-you-looking{padding:50px 0}
.what-you-looking h2{margin-bottom:30px}
.what-you-looking .shadow-box{padding: 40px;-webkit-box-shadow: 0px 5px 20px 0px rgba(0, 25, 50, 0.1);box-shadow: 0px 5px 20px 0px rgba(0, 25, 50, 0.1);-webkit-transition: all 0.3s linear;height: 100%}
.what-you-looking .shadow-box:hover{-webkit-box-shadow: 5px 0px 20px 0px rgba(0, 25, 50, 0.1);box-shadow: 5px 0px 20px 0px rgba(0, 25, 50, 0.1);}
.what-you-looking .shadow-box img{margin-bottom: 10px}
.what-you-looking .shadow-box p{margin-bottom: 0}

.signup{background-color: #f2f2f2;}
.signup-formbox {padding: 50px;background-color: #fff;margin: 0 140px;}
.signup-formbox label{width: 100%}
.signup-formbox .custom-control-label{font-size: 13px;}
.signup .input-group-text{border-radius: 0}
.signup .input-group>.custom-select:not(:first-child),.signup .input-group>.form-control:not(:first-child){border-radius: 0}
.signup .input-group-text{color: #4e4e4e;background-color: #f1f1f1;border: 1px solid #ebebeb;}
.signup .form-control,.signup .custom-select,.signup .select2-container{border: 1px solid #ebebeb;font-size: 13px;}
.signup .custom-control-input:checked~.custom-control-label::before {border-color: #169db9;background-color: #169db9;}
.signup .select2-container .select2-selection--single{height:auto}
.signup .select2-selection__rendered{height: calc(2.25rem + 2px);padding: .375rem .75rem;}
.signup .select2-container--default .select2-selection--single {background-color: #fff;border: none;}
.signup .select2-results__option{font-size:13px}
.signup .select2-container--default .select2-selection--single .select2-selection__arrow {height: 38px;}
.select2-container .select2-selection--single .select2-selection__rendered {padding-left: 15px;}

.business-details-box{display: none}
.freelancer-details-box{display: none}

.footer-hero ul li{ margin-bottom: 10px;font-size: 20px}

.footer-main{padding-top:80px;padding-bottom:80px;}
.footer-main ul {list-style:none;padding-left:0}
.footer-main ul li{margin-bottom:10px}
.footer-main ul li a{font-weight:300;color:#000}
.footer-main .form-control{background:#eae8e8;border-radius:0;font-weight:400;font-size:16px}

.footer-copyright{font-size:12px;border-top: 1px solid #eae8e9;padding:15px 0}
.footer-copyright a{color: #000}
.footer-copyright .nav-link{display: inline-block;padding: 0 0.5rem;}

span.select2.select2-container.select2-container--default{position: relative;-ms-flex: 1 1 auto;flex: 1 1 auto;width: 1%;margin-bottom: 0;}

@media only screen and (max-width: 992px) {
.h2, h2 {font-size: 1.25rem;}
.h5, h5 {font-size: 1rem;}
body {font-size: 14px;}
.footer-main .btn{font-size: 14px}
	.footer-main .form-control{font-size: 14px}
}

@media only screen and (max-width: 767px) {
.header{border-bottom:1px solid #efefef;}
	
.hero-slider {padding: 30px 0;}
.hero-slider h1{margin-bottom: 15px;font-size: 2rem;}
.hero-slider h3 {font-size: 22px;}

h1, .h1{font-size: 21px;font-weight: 600;}

.love-bonhub {padding: 15px 0;}
.how-it-works h5{margin-bottom:5px;}
.how-it-works img {margin-bottom: 0px;}
.footer-main{padding-top:30px;padding-bottom:30px;}
.footer-main ul li {margin-bottom: 5px;}
.footer-main ul li a,.footer-main p {font-size: 14px;}
.footer-copyright .col-md-6{text-align: center!important;margin-top: 5px; margin-bottom: 5px}
}